---

---
<div class="w-full h-120 relative overflow-hidden flex items-center justify-center">
  <img class="w-full h-full object-cover absolute inset-0 brightness-50" src="/imgs/hero.webp" alt="Hero Image">
  <div class="w-full max-w-6xl flex items-center  py-16 px-8 md:px-12 z-90 relative ">
    <div class="w-full md:w-1/2">
      <h1 class="text-5xl md:text-6xl mb-4 text-primary"><i>Pollo a la Brasa</i></h1>
      <p class="text-lg mb-8 text-primary">Auténtico Sabor Peruano</p>
      <div class="flex space-x-4 justify-center md:justify-start">
        <a href="#explore" class="bg-text-feature text-white px-6 py-3 rounded-lg hover:bg-text-feature-hover transition duration-300">Ordenar Ahora</a>
        <a href="#explore" class="bg-white/30 backdrop-blur-sm border text-primary px-6 py-3 rounded-lg hover:bg-text-feature-dark transition duration-300">Ver Menú</a>
      </div>
    </div>
    <div class="w-1/2 max-w-md hidden md:block">
      <img class="w-full h-auto rounded-full shadow-lg filter brightness-75" src="/logo.jpeg" alt="Hero Food Image">
    </div>
  </div>
</div>