---
const response = await fetch("http://localhost:8080/platillos");

let registros = [];

if (response.ok) {
  registros = await response.json();
} else {
  console.error("Error backend", await response.text());
}
---
<div class="w-full flex flex-wrap gap-4 justify-center py-8">
  {
    registros.map(
      (r: { id: number; name: string; price: number; img: string }) => (
        <div class="w-76 bg-linear-to-br from-primary to-gost-hover rounded-xl shadow-lg overflow-hidden hover:shadow-2xl hover:scale-105 transition-all duration-300 relative group">
          <div class="absolute top-3 right-3 bg-white/90 rounded-full p-2 opacity-0 group-hover:opacity-100 transition-opacity">
            <button class="text-2xl">🛒</button>
          </div>
          <img src={r.img} alt={r.name} class="w-full h-56 object-cover" />
          <div class="p-5 bg-white/5 backdrop-blur">
            <h3 class="text-lg font-bold mb-3 text-text truncate">{r.name}</h3>
            <div class="flex justify-between items-center">
              <span class="text-sm text-text-secondary">Precio</span>
              <p class="text-xl font-bold text-text-feature">S/ {r.price}</p>
            </div>
          </div>
        </div>
      ),
    )
  }
</div>
