---

---
<div class="w-fit flex items-center justify-center flex-nowrap">
  <div class="w-196 h-auto mx-4 ">
    <img src="/imgs/Logo_UTP.webp" alt="Logo" class="w-full h-auto object-cover" />
  </div>
</div>
