---
import Layout from '@layouts/Layout.astro';
import Logo from '@components/Logo.astro';
import Nav from '@components/Nav.astro';
import Hero from '@components/Hero.astro';
import Menu from '@components/Menu.astro';
import Ubicanos from '@components/Ubicanos.astro';
---

<Layout title="WallpaWawqi">
	<header class="w-full flex flex-col">
		<div class="w-full flex items-center justify-between bg-primary py-4 px-4 md:px-24">
			<Logo />
			<Nav />
		</div>
		<div class="w-full">
			<Hero />
		</div>
	</header>
	<main class="w-full flex flex-col items-center justify-center py-12 px-4 md:px-24">
		<div class="w-full text-center">
			<h2 class="text-text-feature text-3xl py-8">Productos Destacados</h2>
			<p class="text-text">Descubre nuestras especialdades.</p>
		</div>
		<section class="w-full max-w-6xl"	>
			<Menu />
		</section>
	</main>
	<footer>
		<Ubicanos />
	</footer>
</Layout>
